$color-primary: #007fd2;
$color-success: #6cb443;
$color-error: #e14646;

$color-title: #2a2a2a;
$color-body: #444;
$color-light:#ACB4B8;

$font-family: "Inter";
$font-size: 15px;

$border-radius: 4px;

$mobile-breakpoint: 768px;
