@import "styles/variables.scss";

.checkbox {
	width: 24px;
	height: 24px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: $border-radius;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-primary;
	user-select: none;
	cursor: pointer;
}

.checkbox--active {
	background: $color-success;
	border-color: $color-success;
	color: #fff;
}

.checkbox__icon {
	visibility: hidden;
}

.checkbox__icon--active {
	visibility: visible;
}
